<!DOCTYPE html>
<html>
  <head>
    <title>AirbnbClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBprjSP0uMWyFEVuCMRYTorOGeyHYGwSfE" %> -->

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name=“viewport” content=“width=device-width” />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script type="text/javascript">
      window.tv = "<%= image_url('tv.jpg') %>"
    </script>
    <script type="text/javascript">
      window.sad_face = "<%= image_url('sad_face.jpg') %>"
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBprjSP0uMWyFEVuCMRYTorOGeyHYGwSfE"></script>
    <script type="text/javascript">
      window.vacation = "<%= image_url('vacation.jpg') %>"
    </script>
    <script type="text/javascript">
      window.logo = "<%= image_url('peter.png') %>"
    </script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Do+Hyeon|Kirang+Haerang|MedievalSharp|Playfair+Display|Roboto|Roboto+Condensed" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
